body {
	/*margin-top: 65px;*/
	font-size: 13px;
}
@media screen and (min-width: 979px) {
	body {
		padding-top: 50px;
	}
}

.grey {
	color: gray;
}

.scrollable {
	overflow: auto;
	padding: 10px;
	border: 1px solid gray;
}

#busy-indicator {
	margin-top: -14px;
	margin-left: -128px;
	position: fixed;
	left: 50%;
	top: 42%;
}

#overlay {
	opacity: 0.2;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
}
#overlay-wrapper {
	display: none;
}
#topics-filter-form {
	margin-bottom: 0px;
}
#topics-filter-form-leader, #topics-filter-form-properties {
	height: 150px;
}
#topics-filter-form .checkbox-align .input-block-level {
	min-height: 0px;
	margin: 0;
	height: 20px;
}
#topics-filter-form .checkbox-align .input-block-level input {
	float: left;
	margin-right: 7px;
}
#topics-filter-form .checkbox-align .input-block-level span {
	float: left;
}
.topics-heading span {
	font-size: 15px;
	font-weight: bold;
	color: black;
}
#topics-detail dt {
	width: 130px;
}
#topics-detail dd {
	margin-left: 145px;
}
div.input.text {
	display: inline;
	width: 0;
	height: 0;
}
a {
	text-decoration: none !important;
}
.div-id-width {
	width: 80px;
}
.inblock {
	display: inline-block;
}
.no-pointer {
	cursor: default;
}
.pointer {
	cursor: pointer;
}
.no-bottom-margin {
	margin-bottom: 0;
}
.border-bottom {
	border-bottom: 1px solid rgb(229, 229, 229);
}
.border-top {
	border-top: 1px solid rgb(229, 229, 229);
}
.border-large {
	border-width: 2px;
}
.margin-legend-collapse {
	margin: -18px -17px 0 -17px;
	padding: 18px 17px 0 17px;
}
.table .align-text-right {
	text-align: right;
}
.pagination-icons {
	width: 75%;
	display: inline-block;
}
.input-block-level > input[type="checkbox"] {
	margin: 0;
}
label.input-block-level {
	min-height: 20px;
}
.requirement-item, .literature-item {
	vertical-align: top;
}
.requirement-item label, .literature-item label {
	float: left;
	margin-right: 5px;
}
.requirement-item textarea, .literature-item textarea {
	display: inline-block;
	width: 90%;
}
input[readonly] {
	cursor: pointer;
}
.error-message, span.help-block.text-danger {
	display: block;
	margin: 5px 0 5px 0;
	padding: 10px;
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	border-radius: 4px;
}
#user-search-form label {
	margin-right: 30px;
}

form  div.required  label:after {
	content: ' *';
	color: red;
	display: inline;
}
 
.records-found-counter {
	display: inline-block;
	margin-top: 5px;
}
.status-legend {
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.status-legend-active, .bg-active {
	background-color: #5ab65a;
}

.status-legend-active-pending, .bg-active-pending {
	background-color: #96cd96;
}

.status-legend-merged, .bg-merged {
	background-color: #EED3D7;
}

.status-legend-pending, .bg-pending {
	background-color: #d9d48a;
}

.status-legend-hidden, .bg-hidden {
	background-color: #CCCCCC;
}


.status-legend-archived, .bg-archived {
	background-color: #93b4cb;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.queue-limit span {
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}


.queue-limit table th {
	font-weight: normal;
	text-align: left;
	width: 90px;
}

#topics-filter-main-label legend {
	margin-bottom: 5px;
}
.btn-remove-filters {
	margin-bottom: 5px;
}
