body, table, p, div {font-style: normal; font-family: 'Times New Roman', Times, serif; font-size: 13px;}
.table td {font-weight: bold;}
.table th {font-weight: normal;}
.table td, .table th {padding: 5px; text-align: left; vertical-align: top;}
.center {text-align: center; width: 100%;} 
.uppercase {text-transform: uppercase;}
.no-bold {font-weight: normal;}
.heading-list {letter-spacing: 2px; font-size: 14px;}
.float-left {float: left;}
.float-right {float: right;}
.text-center {text-align: center;}
.inline {display: block;}
.requirement {	text-align: justify;
    text-justify: inter-word; margin: 4px 0 4px 0;}
.noident {
	text-indent: 0px;
}
.number {
	float: left;
	width: 20px;
}
.text {
	float: left;
}
.requirement {
	text-indent: 40px;
}
.literature {
	margin: 10px 0 0px 0;
}
#footer {margin-top: 80px;}
#main-title {margin-top: 30px; margin-bottom: 40px;}
#thesis-detail {margin-top: 5px; }
.no-pagebreak {page-break-inside: avoid;}


h1 {font-family: Garamond, Times, serif;}
h5 {font-size: 160%; font-weight: normal;}
h6 {font-size: 140%;}

.text-red {color: red;}